In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("train.csv")
data.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1,NO,NO,dqOiM6yBYgnVSezBRiQXs9bvOFnRqrtIoXRIElxD7g8=,GNjrXXA3SxbgD0dTRblAPO9jFJ7AIaZnu/f48g5XSUk=,0.576561,0.073139,0.481394,0.115697,0.472474,...,0.0,0.810,3306,4676,YES,NO,YES,2,0.375535,0.464610
1,2,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.510,4678,3306,YES,NO,YES,4,0.741682,0.593630
2,3,NO,NO,ib4VpsEsqJHzDiyL0dZLQ+xQzDPrkxE+9T3mx5fv2wI=,X6dDAI/DZOWvu0Dg6gCgRoNr2vTUz/mc4SdHTNUPS38=,1.341803,0.051422,0.935572,0.041440,0.501710,...,0.0,0.850,4678,3306,NO,NO,NO,1,0.776467,0.493159
3,4,YES,NO,BfrqME7vdLw3suQp6YAT16W2piNUmpKhMzuDrVrFQ4w=,YGCdISifn4fLao/ASKdZFhGIq23oqzfSbUVb6px1pig=,0.653912,0.041471,0.940787,0.090851,0.556564,...,0.0,0.945,3306,4678,NO,NO,YES,3,0.168234,0.546582
4,5,NO,NO,RTjsrrR8DTlJyaIP9Q3Z8s0zseqlVQTrlSe97GCWfbk=,3yK2OPj1uYDsoMgsxsjY1FxXkOllD8Xfh20VYGqT+nU=,1.415919,0.000000,1.000000,0.000000,0.375297,...,0.0,1.000,1263,892,NO,NO,NO,1,0.246637,0.361045

In [3]:
drop_columns = ['x3','x4','x34','x35','x61','x64','x65','x91','x94','x95']
data.drop(drop_columns,inplace=True,axis=1)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Columns: 136 entries, id to x145
dtypes: float64(55), int64(31), object(50)
memory usage: 10.4+ MB

In [5]:
data.head()

,id,x1,x2,x5,x6,x7,x8,x9,x10,x11,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1,NO,NO,0.576561,0.073139,0.481394,0.115697,0.472474,YES,NO,...,0.0,0.810,3306,4676,YES,NO,YES,2,0.375535,0.464610
1,2,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,0.0,0.510,4678,3306,YES,NO,YES,4,0.741682,0.593630
2,3,NO,NO,1.341803,0.051422,0.935572,0.041440,0.501710,NO,NO,...,0.0,0.850,4678,3306,NO,NO,NO,1,0.776467,0.493159
3,4,YES,NO,0.653912,0.041471,0.940787,0.090851,0.556564,YES,NO,...,0.0,0.945,3306,4678,NO,NO,YES,3,0.168234,0.546582
4,5,NO,NO,1.415919,0.000000,1.000000,0.000000,0.375297,NO,NO,...,0.0,1.000,1263,892,NO,NO,NO,1,0.246637,0.361045

In [6]:
categorical_data = data[data.select_dtypes(include=['object']).columns]
categorical_data

,x1,x2,x10,x11,x12,x13,x14,x24,x25,x26,...,x116,x117,x126,x127,x128,x129,x130,x140,x141,x142
0,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES,...,NO,YES,YES,NO,NO,NO,NO,YES,NO,YES
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES
2,NO,NO,NO,NO,YES,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,YES,NO,NO,NO,NO,NO
3,YES,NO,YES,NO,NO,NO,NO,YES,NO,YES,...,NO,YES,YES,NO,NO,NO,NO,NO,NO,YES
4,NO,NO,NO,NO,YES,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,...,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES
9995,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES,...,NO,YES,YES,NO,NO,NO,NO,YES,NO,YES
9996,YES,YES,YES,NO,NO,NO,NO,YES,NO,YES,...,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES
9997,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,YES,NO,NO,NO,NO,NO
9998,YES,YES,YES,NO,NO,NO,NO,YES,NO,YES,...,NO,YES,YES,NO,NO,NO,NO,YES,NO,YES

In [7]:
numeric_data = data[data.select_dtypes(include=['int64','float64']).columns]
numeric_data

,id,x5,x6,x7,x8,x9,x15,x16,x17,x18,...,x133,x134,x135,x136,x137,x138,x139,x143,x144,x145
0,1,0.576561,0.073139,0.481394,0.115697,0.472474,42,0.396065,3,6,...,5,6,0.987596,0.0,0.810,3306,4676,2,0.375535,0.464610
1,2,0.000000,0.000000,0.000000,0.000000,0.000000,0,0.000000,0,0,...,4,6,0.968240,0.0,0.510,4678,3306,4,0.741682,0.593630
2,3,1.341803,0.051422,0.935572,0.041440,0.501710,2,0.838475,3,5,...,3,5,0.966122,0.0,0.850,4678,3306,1,0.776467,0.493159
3,4,0.653912,0.041471,0.940787,0.090851,0.556564,37,0.127405,8,15,...,17,15,0.927550,0.0,0.945,3306,4678,3,0.168234,0.546582
4,5,1.415919,0.000000,1.000000,0.000000,0.375297,1,0.523543,4,11,...,11,11,0.900224,0.0,1.000,1263,892,1,0.246637,0.361045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,1.207136,0.082855,0.918960,0.313880,0.495189,10,0.512852,3,7,...,4,7,0.971575,0.0,0.810,4677,3307,1,0.502268,0.486637
9995,9996,1.414798,0.000000,1.000000,0.000000,0.357369,6,0.864350,4,17,...,11,17,0.933857,0.0,1.000,1262,892,15,0.890135,0.346276
9996,9997,1.413677,0.000000,1.000000,0.000000,0.668517,3,0.865471,6,7,...,6,7,0.945067,0.0,1.000,1261,892,5,0.726457,0.659001
9997,9998,1.294118,0.000000,1.000000,0.000000,0.570707,7,0.400871,8,11,...,23,11,0.860566,1.0,1.000,1188,918,3,0.450980,0.561448
9998,9999,0.660897,0.042735,0.946581,0.086966,0.510278,19,0.655128,4,15,...,5,15,0.976496,0.0,0.880,3308,4680,0,0.604274,0.499395

In [8]:
data[data.dtypes[data.dtypes == 'object'].index]

,x1,x2,x10,x11,x12,x13,x14,x24,x25,x26,...,x116,x117,x126,x127,x128,x129,x130,x140,x141,x142
0,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES,...,NO,YES,YES,NO,NO,NO,NO,YES,NO,YES
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES
2,NO,NO,NO,NO,YES,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,YES,NO,NO,NO,NO,NO
3,YES,NO,YES,NO,NO,NO,NO,YES,NO,YES,...,NO,YES,YES,NO,NO,NO,NO,NO,NO,YES
4,NO,NO,NO,NO,YES,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,...,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES
9995,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES,...,NO,YES,YES,NO,NO,NO,NO,YES,NO,YES
9996,YES,YES,YES,NO,NO,NO,NO,YES,NO,YES,...,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES
9997,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO,...,NO,NO,NO,NO,YES,NO,NO,NO,NO,NO
9998,YES,YES,YES,NO,NO,NO,NO,YES,NO,YES,...,NO,YES,YES,NO,NO,NO,NO,YES,NO,YES

In [9]:
numeric_columns = numeric_data.columns
numeric_columns

Index(['id', 'x5', 'x6', 'x7', 'x8', 'x9', 'x15', 'x16', 'x17', 'x18', 'x19',
       'x20', 'x21', 'x22', 'x23', 'x27', 'x28', 'x29', 'x36', 'x37', 'x38',
       'x39', 'x40', 'x46', 'x47', 'x48', 'x49', 'x50', 'x51', 'x52', 'x53',
       'x54', 'x58', 'x59', 'x60', 'x66', 'x67', 'x68', 'x69', 'x70', 'x76',
       'x77', 'x78', 'x79', 'x80', 'x81', 'x82', 'x83', 'x84', 'x88', 'x89',
       'x90', 'x96', 'x97', 'x98', 'x99', 'x100', 'x106', 'x107', 'x108',
       'x109', 'x110', 'x111', 'x112', 'x113', 'x114', 'x118', 'x119', 'x120',
       'x121', 'x122', 'x123', 'x124', 'x125', 'x131', 'x132', 'x133', 'x134',
       'x135', 'x136', 'x137', 'x138', 'x139', 'x143', 'x144', 'x145'],
      dtype='object')

In [10]:
categorical_columns = categorical_data.columns
categorical_columns

Index(['x1', 'x2', 'x10', 'x11', 'x12', 'x13', 'x14', 'x24', 'x25', 'x26',
       'x30', 'x31', 'x32', 'x33', 'x41', 'x42', 'x43', 'x44', 'x45', 'x55',
       'x56', 'x57', 'x62', 'x63', 'x71', 'x72', 'x73', 'x74', 'x75', 'x85',
       'x86', 'x87', 'x92', 'x93', 'x101', 'x102', 'x103', 'x104', 'x105',
       'x115', 'x116', 'x117', 'x126', 'x127', 'x128', 'x129', 'x130', 'x140',
       'x141', 'x142'],
      dtype='object')

In [11]:
#cat_map = {'YES':1, 'NO':0}
import warnings
warnings.filterwarnings('ignore')
for col in categorical_columns:
    data[col] = data[col].map({'YES':1, 'NO':0})
    categorical_data[col] = categorical_data[col].map({'YES':1, 'NO':0})

data.head()

,id,x1,x2,x5,x6,x7,x8,x9,x10,x11,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1,0.0,0.0,0.576561,0.073139,0.481394,0.115697,0.472474,1.0,0.0,...,0.0,0.810,3306,4676,1,0,1,2,0.375535,0.464610
1,2,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,...,0.0,0.510,4678,3306,1,0,1,4,0.741682,0.593630
2,3,0.0,0.0,1.341803,0.051422,0.935572,0.041440,0.501710,0.0,0.0,...,0.0,0.850,4678,3306,0,0,0,1,0.776467,0.493159
3,4,1.0,0.0,0.653912,0.041471,0.940787,0.090851,0.556564,1.0,0.0,...,0.0,0.945,3306,4678,0,0,1,3,0.168234,0.546582
4,5,0.0,0.0,1.415919,0.000000,1.000000,0.000000,0.375297,0.0,0.0,...,0.0,1.000,1263,892,0,0,0,1,0.246637,0.361045

In [12]:

categorical_data.head()

,x1,x2,x10,x11,x12,x13,x14,x24,x25,x26,...,x116,x117,x126,x127,x128,x129,x130,x140,x141,x142
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,1,0,0,0,0,1,0,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1,0,0,0,0,1,0,1
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,1,0,0,0,0,0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,1,0,0,0,0,0,0,1
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0,0,0,0,0,0,0,0

In [13]:
categorical_data.isnull().sum()

x1      1426
x2      1426
x10     1426
x11     1426
x12     1426
x13     1426
x14     1426
x24     1426
x25     1426
x26     1426
x30        0
x31        0
x32      284
x33      284
x41      284
x42      284
x43      284
x44      284
x45      284
x55      284
x56      284
x57      284
x62      396
x63      396
x71      396
x72      396
x73      396
x74      396
x75      396
x85      396
x86      396
x87      396
x92      851
x93      851
x101     851
x102     851
x103     851
x104     851
x105     851
x115     851
x116     851
x117     851
x126       0
x127       0
x128       0
x129       0
x130       0
x140       0
x141       0
x142       0
dtype: int64

In [14]:
for col in data.columns:
    data[col] = data[col].fillna(data[col].median())

In [15]:
data.isnull().sum()

id      0
x1      0
x2      0
x5      0
x6      0
       ..
x141    0
x142    0
x143    0
x144    0
x145    0
Length: 136, dtype: int64

In [16]:
for col in categorical_data.columns:
    categorical_data[col] = categorical_data[col].fillna(categorical_data[col].median())

In [17]:
for col in numeric_data.columns:
    numeric_data[col] = numeric_data[col].fillna(numeric_data[col].median())

In [20]:
labels =pd.read_csv('trainLabels.csv')
labels

,id,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,49995,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49995,49996,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49996,49997,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49997,49998,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
49998,49999,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
Xy = pd.merge(data, labels, left_index=True, right_index=True)
Xy

,id_x,x1,x2,x5,x6,x7,x8,x9,x10,x11,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,1,0.0,0.0,0.576561,0.073139,0.481394,0.115697,0.472474,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1,2,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
2,3,0.0,0.0,1.341803,0.051422,0.935572,0.041440,0.501710,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,1.0,0.0,0.653912,0.041471,0.940787,0.090851,0.556564,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,5,0.0,0.0,1.415919,0.000000,1.000000,0.000000,0.375297,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,0.0,0.0,1.207136,0.082855,0.918960,0.313880,0.495189,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
9995,9996,0.0,0.0,1.414798,0.000000,1.000000,0.000000,0.357369,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1
9996,9997,1.0,1.0,1.413677,0.000000,1.000000,0.000000,0.668517,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
9997,9998,0.0,0.0,1.294118,0.000000,1.000000,0.000000,0.570707,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
9998,9999,1.0,1.0,0.660897,0.042735,0.946581,0.086966,0.510278,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
Xy = Xy.drop(['id_x'],axis=1)

In [23]:
Xy[categorical_columns] = Xy[categorical_columns].astype('int32')

In [24]:
y_columns= pd.read_csv('trainLabels.csv').columns
y_columns

Index(['id', 'y1', 'y2', 'y3', 'y4', 'y5', 'y6', 'y7', 'y8', 'y9', 'y10',
       'y11', 'y12', 'y13', 'y14', 'y15', 'y16', 'y17', 'y18', 'y19', 'y20',
       'y21', 'y22', 'y23', 'y24', 'y25', 'y26', 'y27', 'y28', 'y29', 'y30',
       'y31', 'y32', 'y33'],
      dtype='object')

In [25]:
X = Xy.drop(y_columns[1:],axis=1)
y = Xy[y_columns[1:]]

In [26]:
X.head()

,x1,x2,x5,x6,x7,x8,x9,x10,x11,x12,...,x137,x138,x139,x140,x141,x142,x143,x144,x145,id_y
0,0,0,0.576561,0.073139,0.481394,0.115697,0.472474,1,0,0,...,0.810,3306,4676,1,0,1,2,0.375535,0.464610,1
1,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0,0,0,...,0.510,4678,3306,1,0,1,4,0.741682,0.593630,2
2,0,0,1.341803,0.051422,0.935572,0.041440,0.501710,0,0,1,...,0.850,4678,3306,0,0,0,1,0.776467,0.493159,3
3,1,0,0.653912,0.041471,0.940787,0.090851,0.556564,1,0,0,...,0.945,3306,4678,0,0,1,3,0.168234,0.546582,4
4,0,0,1.415919,0.000000,1.000000,0.000000,0.375297,0,0,1,...,1.000,1263,892,0,0,0,1,0.246637,0.361045,5

In [27]:
Xy[categorical_columns] = Xy[categorical_columns].astype('int32')

In [28]:
y.head()

,y1,y2,y3,y4,y5,y6,y7,y8,y9,y10,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [30]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
X_train.shape, X_val.shape

((7999, 136), (2000, 136))

In [32]:
y_train.shape, y_val.shape

((7999, 33), (2000, 33))

In [33]:
model  = RandomForestClassifier()

In [34]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [35]:
y_pred = model.predict(X_val)

In [36]:
classification_report(y_val, y_pred,output_dict=True)

{'0': {'precision': 1.0,
  'recall': 0.5454545454545454,
  'f1-score': 0.7058823529411764,
  'support': 11.0},
 '1': {'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 1.0},
 '2': {'precision': 0.9259259259259259,
  'recall': 0.5813953488372093,
  'f1-score': 0.7142857142857142,
  'support': 43.0},
 '3': {'precision': 1.0,
  'recall': 0.5882352941176471,
  'f1-score': 0.7407407407407407,
  'support': 34.0},
 '4': {'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 0.0},
 '5': {'precision': 0.8181818181818182,
  'recall': 0.6556291390728477,
  'f1-score': 0.7279411764705882,
  'support': 151.0},
 '6': {'precision': 0.8947368421052632,
  'recall': 0.2361111111111111,
  'f1-score': 0.3736263736263737,
  'support': 72.0},
 '7': {'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 0.0},
 '8': {'precision': 0.8041237113402062,
  'recall': 0.5611510791366906,
  'f1-score': 0.6610169491525424,
  'support': 139.0},
 '9': {'precision': 1.0,
  'recall': 0.4117647058823529,
  'f1-score': 0.5833333333333334,
  'support': 34.0},
 '10': {'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 3.0},
 '11': {'precision': 0.8050847457627118,
  'recall': 0.6690140845070423,
  'f1-score': 0.7307692307692308,
  'support': 142.0},
 '12': {'precision': 1.0,
  'recall': 0.45,
  'f1-score': 0.6206896551724138,
  'support': 20.0},
 '13': {'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 0.0},
 '14': {'precision': 1.0,
  'recall': 0.5,
  'f1-score': 0.6666666666666666,
  'support': 6.0},
 '15': {'precision': 1.0,
  'recall': 0.5238095238095238,
  'f1-score': 0.6875000000000001,
  'support': 21.0},
 '16': {'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 0.0},
 '17': {'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 0.0},
 '18': {'precision': 0.0, 'recall': 0.0, 'f1-score': 0.0, 'support': 1.0},
 '19': {'precision': 1.0,
  'recall': 0.375,
  'f1-score': 0.5454545454545454,
  'support': 8.0},
 '20': {'precision': 1.0,
  'recall': 0.5,
  'f1-score': 0.6666666666666666,
  'support': 10.0},
 '21': {'precision': 1.0,
  'recall': 0.26666666666666666,
  'f1-score': 0.4210526315789474,
  'support': 15.0},
 '22': {'precision': 1.0, 'recall': 1.0, 'f1-score': 1.0, 'support': 1.0},
 '23': {'precision': 1.0,
  'recall': 0.30303030303030304,
  'f1-score': 0.4651162790697675,
  'support': 33.0},
 '24': {'precision': 1.0,
  'recall': 0.45454545454545453,
  'f1-score': 0.625,
  'support': 11.0},
 '25': {'precision': 0.8571428571428571,
  'recall': 0.5217391304347826,
  'f1-score': 0.6486486486486486,
  'support': 23.0},
 '26': {'precision': 1.0,
  'recall': 0.36363636363636365,
  'f1-score': 0.5333333333333333,
  'support': 22.0},
 '27': {'precision': 1.0,
  'recall': 0.42857142857142855,
  'f1-score': 0.6,
  'support': 21.0},
 '28': {'precision': 1.0,
  'recall': 0.2625,
  'f1-score': 0.4158415841584159,
  'support': 80.0},
 '29': {'precision': 0.9615384615384616,
  'recall': 0.5555555555555556,
  'f1-score': 0.7042253521126761,
  'support': 45.0},
 '30': {'precision': 1.0,
  'recall': 0.3728813559322034,
  'f1-score': 0.54320987654321,
  'support': 59.0},
 '31': {'precision': 0.9468085106382979,
  'recall': 0.7235772357723578,
  'f1-score': 0.8202764976958526,
  'support': 123.0},
 '32': {'precision': 0.8909090909090909,
  'recall': 0.9162956366874443,
  'f1-score': 0.9034240561896401,
  'support': 1123.0},
 'micro avg': {'precision': 0.889132821075741,
  'recall': 0.7193605683836589,
  'f1-score': 0.7952871870397643,
  'support': 2252.0},
 'macro avg': {'precision': 0.7243773322286252,
  'recall': 0.3868655746291373,
  'f1-score': 0.48802126256395406,
  'support': 2252.0},
 'weighted avg': {'precision': 0.8968953926062959,
  'recall': 0.7193605683836589,
  'f1-score': 0.77224150224027,
  'support': 2252.0},
 'samples avg': {'precision': 0.747,
  'recall': 0.739,
  'f1-score': 0.7393,
  'support': 2252.0}}

In [37]:
pd.DataFrame(classification_report(y_val, y_pred,output_dict=True)).T

              precision    recall  f1-score  support
0              1.000000  0.545455  0.705882     11.0
1              0.000000  0.000000  0.000000      1.0
2              0.925926  0.581395  0.714286     43.0
3              1.000000  0.588235  0.740741     34.0
4              0.000000  0.000000  0.000000      0.0
5              0.818182  0.655629  0.727941    151.0
6              0.894737  0.236111  0.373626     72.0
7              0.000000  0.000000  0.000000      0.0
8              0.804124  0.561151  0.661017    139.0
9              1.000000  0.411765  0.583333     34.0
10             0.000000  0.000000  0.000000      3.0
11             0.805085  0.669014  0.730769    142.0
12             1.000000  0.450000  0.620690     20.0
13             0.000000  0.000000  0.000000      0.0
14             1.000000  0.500000  0.666667      6.0
15             1.000000  0.523810  0.687500     21.0
16             0.000000  0.000000  0.000000      0.0
17             0.000000  0.000000  0.000000      0.0
18             0.000000  0.000000  0.000000      1.0
19             1.000000  0.375000  0.545455      8.0
20             1.000000  0.500000  0.666667     10.0
21             1.000000  0.266667  0.421053     15.0
22             1.000000  1.000000  1.000000      1.0
23             1.000000  0.303030  0.465116     33.0
24             1.000000  0.454545  0.625000     11.0
25             0.857143  0.521739  0.648649     23.0
26             1.000000  0.363636  0.533333     22.0
27             1.000000  0.428571  0.600000     21.0
28             1.000000  0.262500  0.415842     80.0
29             0.961538  0.555556  0.704225     45.0
30             1.000000  0.372881  0.543210     59.0
31             0.946809  0.723577  0.820276    123.0
32             0.890909  0.916296  0.903424   1123.0
micro avg      0.889133  0.719361  0.795287   2252.0
macro avg      0.724377  0.386866  0.488021   2252.0
weighted avg   0.896895  0.719361  0.772242   2252.0
samples avg    0.747000  0.739000  0.739300   2252.0

In [38]:
accuracy_score(y_val,y_pred)

0.718

In [39]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier

In [47]:
models = {
    'RandomForestClassifier':RandomForestClassifier(),
    #'LinearDiscriminantAnalysis':LinearDiscriminantAnalysis(),
    #'SVC':SVC(),
    'DecisionTreeClassifier':DecisionTreeClassifier(),
    #'BaggingClassifier':BaggingClassifier(),
    #'AdaBoostClassifier':AdaBoostClassifier()    
}

In [48]:
models.values()

dict_values([RandomForestClassifier(), DecisionTreeClassifier(), AdaBoostClassifier()])

In [49]:
def score(X_train,y_train,X_test,y_true,model):
    model.fit(X_train,y_train)
    y_pred = model.predict(X_test)

    acc = accuracy_score(y_pred ,y_true)
    return acc

for model in models.values():
    acc =score(X_train,y_train,X_val,y_val,model)
    print(f"accuracy score is :{acc}")

accuracy score is :0.7215
accuracy score is :0.7235

ValueError: y should be a 1d array, got an array of shape (7999, 33) instead.

In [126]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

0.7135

In [114]:
train_columns = pd.read_csv('train.csv').columns
print(train_columns)
test_df = pd.read_csv('test.csv')
test_df()

test_df.head()

Index(['id', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9',
       ...
       'x136', 'x137', 'x138', 'x139', 'x140', 'x141', 'x142', 'x143', 'x144',
       'x145'],
      dtype='object', length=146)

TypeError: read_csv() got an unexpected keyword argument 'column'

In [108]:
test_df.drop(drop_columns,axis=1,inplace=True)

KeyError: "['x3', 'x4', 'x34', 'x35', 'x61', 'x64', 'x65', 'x91', 'x94', 'x95'] not found in axis"

In [28]:
train_data = pd.read_csv('train.csv')
labels = pd.read_csv('trainLabels.csv')
test_data = pd.read_csv('test.csv')

train_full = pd.merge(train_data, labels, left_index=True, right_index=True)
train_full

,id_x,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,1,NO,NO,dqOiM6yBYgnVSezBRiQXs9bvOFnRqrtIoXRIElxD7g8=,GNjrXXA3SxbgD0dTRblAPO9jFJ7AIaZnu/f48g5XSUk=,0.576561,0.073139,0.481394,0.115697,0.472474,...,0,0,0,0,0,0,0,0,0,1
1,2,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,0,1,0
2,3,NO,NO,ib4VpsEsqJHzDiyL0dZLQ+xQzDPrkxE+9T3mx5fv2wI=,X6dDAI/DZOWvu0Dg6gCgRoNr2vTUz/mc4SdHTNUPS38=,1.341803,0.051422,0.935572,0.041440,0.501710,...,0,0,0,0,0,0,0,0,0,0
3,4,YES,NO,BfrqME7vdLw3suQp6YAT16W2piNUmpKhMzuDrVrFQ4w=,YGCdISifn4fLao/ASKdZFhGIq23oqzfSbUVb6px1pig=,0.653912,0.041471,0.940787,0.090851,0.556564,...,0,0,0,0,0,0,0,0,0,1
4,5,NO,NO,RTjsrrR8DTlJyaIP9Q3Z8s0zseqlVQTrlSe97GCWfbk=,3yK2OPj1uYDsoMgsxsjY1FxXkOllD8Xfh20VYGqT+nU=,1.415919,0.000000,1.000000,0.000000,0.375297,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,9995,NO,NO,jComfqYTXYSeH3GvqcOhwPmldb+BCdVJDKKDNkdtw2w=,Kr2CC15nSwDjdpyAeVh4vOuIaHuC/Q7cL9BAK28JoG8=,1.207136,0.082855,0.918960,0.313880,0.495189,...,0,0,0,0,0,0,0,0,0,0
9995,9996,NO,NO,Pr5enXjzVzVjZziZxrDcgnyu6CLUftmEbnp6TctyJbU=,YvZUuCDjLu9VvkCdBWgARWQrvm+FSXgxp0zIrMjcLBc=,1.414798,0.000000,1.000000,0.000000,0.357369,...,0,0,0,0,0,0,0,0,0,1
9996,9997,YES,YES,9Avs0tL1zvH7Xx41z2UqrXs11/4IWLmqRAodLt/SKjQ=,WV5vAHFyqkeuyFB5KVNGFOBuwjkUGKYc8wh9QfpVzAA=,1.413677,0.000000,1.000000,0.000000,0.668517,...,0,0,0,0,0,0,0,0,0,0
9997,9998,NO,NO,9zkXU3f6YnRPjsWi3lKSCLseIGrleg00tpRI4OplABw=,gOZBAoajyr6i7GgON0N7q5+KE4JTwH3OUM0lZOWMuG8=,1.294118,0.000000,1.000000,0.000000,0.570707,...,0,0,0,0,0,0,0,0,0,1
9998,9999,YES,YES,MZZbXga8gvaCBqWpzrh2iKdOkcsz/bG/z4BVjUnqWT0=,YvZUuCDjLu9VvkCdBWgARWQrvm+FSXgxp0zIrMjcLBc=,0.660897,0.042735,0.946581,0.086966,0.510278,...,0,0,0,0,0,0,0,0,0,1

In [35]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'], 
                 'key2': ['K0', 'K1', 'K0', 'K1'],
                 'A': ['A0', 'A1', 'A2', 'A3'],
                 'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K5', 'K1', 'K1', 'K2'],
                      'key1': ['K3', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3'],
                      'E': [1,2,3,4]})
pd.merge(left, right, left_index=True, right_index=True)

  key1_x key2_x   A   B key1_y key2_y   C   D  E
0     K0     K0  A0  B0     K3     K0  C0  D0  1
1     K0     K1  A1  B1     K1     K0  C1  D1  2
2     K1     K0  A2  B2     K1     K0  C2  D2  3
3     K2     K1  A3  B3     K2     K0  C3  D3  4

In [36]:
X = train_full.drop(columns='label')
X

KeyError: "['label'] not found in axis"

In [38]:
X = train_full.drop(columns='label')
y = train_full.drop(columns='id')

KeyError: "['labels'] not found in axis"